/*Authors:	name				GitHub usr
//			William Wells		wiwells
//			Samuel Pilato		sampleauto
//			Jacob Forney		jakexclone
//			Ravinder Chaupain	vnm303
//			Jasmine Beale		jnbeale
//Class: Application Programming 3443
//Section: 001
//Date Created: 4/19/2021

  
 // JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property
 */

/****************** VPMain.fxml Pane *********************/
.root{
	-fx-background-color:rgb(45, 135, 245);
}

/*** TextField ***/
#Mheader{
	-fx-background-color:rgb(45, 135, 245);	
}

/*** buttons ***/
#Tbutton{
	-fx-background-color:lightblue;
}

#Lbutton{
	-fx-background-color:lightblue;
}

#Cbutton{
	-fx-background-color:lightblue;
}

#Abutton{
	-fx-background-color:lightblue;
}
/*images for activities panel*/
#environment{
	-fx-background-image:url("https://static.vecteezy.com/system/resources/previews/000/438/151/non_2x/indoor-location-background-vector.jpg");
	-fx-background-size: 100% 100%;
}

/* location panel background color */
#location{
	-fx-background-color:yellow;	
}


/* checklist images */
#checklist{
	-fx-background-color:lightblue;
}
#Todocircle{
	-fx-stroke: green;
	-fx-fill: radial-gradient(center 50% 50%, radius 60%, red, orange, yellow, green, blue, purple);
	/*-fx-fill: image-pattern("Todolist.jpg");*/
}

/* Location Panel background */
#location{
	-fx-background-image:url("l.png");
	-fx-background-size:100% 100%;
}

/*images for activities panel*/
#activitiesBgImg{
	-fx-background-image:url("https://wallpaperaccess.com/full/2312673.jpg");
	-fx-background-size: 100% 100%;
}